@font-face {
    font-family: 'Proxima Nova';
    src: url('../assets/fonts/proximanova-regular.otf') format('opentype'),
    url('../assets/fonts/proximanova-semibold.otf') format('opentype'),
    url('../assets/fonts/sigvar_serial-regular.otf') format('opentype'),
}

:root {
    --sia-blue: #002569;
    --secondary-700: #3B7FD2;
    --neutral-50: #FBFBFB;
    --neutral-400: #C3C3C3;
    --neutral-500: #A5A5A5;
    --neutral-600: #7B7B7B;
    --neutral-800: #484848;
    --neutral-700: #676767;
    --white-bg: #FFFFFF;
    --base-font-size: 16px;
    --icon-font-size: 24px;
    --regular-font-weight: 400;
    --semibold-font-weight: 600;
}

.button2 {
    font-family: inherit;
    color: var(--neutral-50);
    border: 0;
    display: grid;
    align-items: center;
    justify-content: center;
    grid-template-columns: auto auto;
    width: fit-content;
    cursor: pointer;
    padding: 8px 16px;    
}

.button2:hover {
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.25);
}

.button2:active {
    font-weight: var(--semibold-font-weight);
}

.button-label {
    font-size: var(--base-font-size);
    font-weight: var(--regular-font-weight);
    line-height: calc(1.5 * var(--base-font-size));
}

.button-userIcon {
    font-size: var(--icon-font-size);
    width: var(--icon-font-size);
    height: var(--icon-font-size);
    display: grid;
    place-items: center;
    margin-right: 8px;
     /* other sides handled by container */
}

.si-cross {
    background-image: url('./assets/icons/si-home.svg');
  
}

.button2-rounded {
    border-radius: 100px;
}

.primary {
    background-color: var(--sia-blue);
}

.secondary {
    background-color: var(--secondary-700);
}

.tertiary {
    background-color: var(--white-bg);
    color: var(--sia-blue);
    border: 1px solid var(--sia-blue);
}

.disabled-class {
    background-color: var(--neutral-400);
    color: var(--neutral-500);
    pointer-events: none;
}

.disabled-class.tertiary {
    background-color: transparent;
    border-color: var(--neutral-400);
}