:root {
    --sia-blue: #002569;
    --secondary-700: #3B7FD2;
    --neutral-50: #FBFBFB;
    --neutral-400: #C3C3C3;
    --neutral-500: #A5A5A5;
    --neutral-600: #7B7B7B;
    --neutral-800: #484848;
    --neutral-700: #676767;
    --base-font-size: 16px;
    --large-font-size: 24px;
    --icon-font-size: 24px;
    --regular-font-weight: 400;
    --semibold-font-weight: 600;
    font-family: 'Proxima Nova', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

.storybook-card {
    /* background-color: var(--neutral-800); */
    padding: 16px 24px;
    box-shadow: 0px 12px 24px rgba(34, 34, 34, 0.12);
    border-radius: 8px;
}

.card-header {
    display: flex;
    justify-content: space-between;
    font-size: var(--large-font-size);
    font-weight: var(--semibold-font-weight);
    line-height: calc(1.5 * var(--large-font-size));
}

.card-title {
    color: var(--neutral-800);
}

.card-subtitle {
    color: var(--sia-blue);
}

.card-content {
    font-size: var(--base-font-size);
    font-weight: var(--regular-font-weight);
    line-height: calc(1.5 * var(--base-font-size));
    padding: 8px 0px;
}

.separator {

}