/* @font-face {
    font-family: 'Proxima Nova';
    src: url('../fonts/proximanova-regular.otf'),
    url('../fonts//proximanova-semibold.otf'),
    url('../fonts/sigvar_serial-regular.otf');
} */

:root {
    font-family: 'Proxima Nova';
    --sia-blue: #002569;
    --secondary-300: #75BCF7;
    --secondary-700: #3B7FD2;
    --neutral-50: #FBFBFB;
    --neutral-100: #F6F6F6;
    --neutral-400: #C3C3C3;
    --neutral-500: #A5A5A5;
    --neutral-600: #7B7B7B;
    --neutral-800: #484848;
    --neutral-700: #676767;
    --white-bg: #FFFFFF;
    --base-font-size: 16px;
    --large-font-size: 24px;
    --icon-font-size: 24px;
    --regular-font-weight: 400;
    --semibold-font-weight: 600;
}

.storybook-card {
    box-shadow: 0px 12px 24px rgba(34, 34, 34, 0.12);
    background-color: var(--white-bg);
    color: var(--neutral-800);
    overflow: hidden;
}

.vertical.storybook-card {
    border-radius: 8px;
}

.card-header {
    display: grid;
    grid-template-columns: 3fr 1fr;
    font-size: var(--large-font-size);
    font-weight: var(--semibold-font-weight);
    line-height: calc(1.5 * var(--large-font-size));
    gap: 8px;
    overflow-wrap: break-word;
}

.storybook-card-text {
    padding: 16px 24px;
}

.card-content {
    font-size: var(--base-font-size);
    font-weight: var(--regular-font-weight);
    line-height: calc(1.5 * var(--base-font-size));
    margin: 8px 0px;
}

.separator {
    border-top: 1px solid var(--neutral-500);
    padding-top: 16px;
    margin-top: 16px;
}

.inverted-class.storybook-card {
    background-color: var(--neutral-800);
    color: var(--neutral-100);
}

.inverted-class > .storybook-card-text > .card-header > .card-subtitle {
    color: var(--secondary-300);
}

.vertical.storybook-card.with-media {
    display: grid;
    grid-template-rows: 1.5fr 1fr;
}

.horizontal.storybook-card.with-media {
    display: grid;
    grid-template-columns: 1fr 3fr;
    /* max-width: 1154px; */
}

.card-img {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    /* width: 100%;
    height: 100%; */
}

.horizontal > .storybook-card-text > .action-btn {
    display: block;
    float: right;
}

.star-container {
    /* background: linear-gradient(180deg, #605DEC 0%, #2A26D9 100%); */
    color: pink;
    margin-top: 8px;
}

.star {
    font-size: 18px;
    padding: 3px;
}
