@font-face {
    font-family: 'Proxima Nova';
    src: url('../assets/fonts/proximanova-regular.otf') format('opentype'),
    url('../assets/fonts/proximanova-semibold.otf') format('opentype'),
    url('../assets/fonts/sigvar_serial-regular.otf') format('opentype'),
}

:root {
    --sia-blue: #002569;
    --secondary-300: #75BCF7;
    --secondary-700: #3B7FD2;
    --neutral-50: #FBFBFB;
    --neutral-100: #F6F6F6;
    --neutral-200: #F1F1F1; /* check again */
    --neutral-400: #C3C3C3;
    --neutral-500: #A5A5A5;
    --neutral-600: #7B7B7B;
    --neutral-800: #484848;
    --neutral-700: #676767;
    --white-bg: #FFFFFF;
    --base-font-size: 16px;
    --large-font-size: 24px;
    --icon-font-size: 24px;
    --regular-font-weight: 400;
    --semibold-font-weight: 600;
    --table-width: 640px;
    font-family: 'Proxima Nova', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

.table2 {
    display: grid;
    border: 1px solid var(--neutral-200);
}

.data-row.table-lined,
.data-row.table-two-columns {
    border: 1px solid var(--neutral-200);
}

.header-row, .data-row {
    font-size: var(--base-font-size);
    line-height: calc(1.5*var(--base-font-size));
    font-weight: var(--regular-font-weight);
    padding: 8px 12px;
}
.header-row {
    color: var(--white-bg);
    background-color: var(--sia-blue);
}

.data-row {
    background-color: var(--white-bg);
}

@media screen and (max-width: 768px) {
    .mini-table {
        border: 1px solid var(--neutral-200);
    }

    .mini-table-content {
        display: grid;
    }

    .tablet-table-wrapper {
        display: grid;
        grid-gap: 15px;
        background-color: var(--white-bg);
    }

    .header-row {
        color: var(--sia-blue);
        background-color: var(--white-bg);
    }

    .table-lined .mini-table-content,
    .table-two-columns .mini-table-content {
        border-bottom: 1px solid var(--neutral-200);
    }
}